<div class="container-fluid">
  <mdb-carousel [controls]="true" [animation]="'fade'">
        <mdb-carousel-item>
          <img
            src="../assets/img/cabecera01.jpg"
            class="d-block w-100"
            alt="cab01"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
          src="../assets/img/cabecera02.jpg"
          class="d-block w-100"
          alt="cab02"
        />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
          src="../assets/img/cabecera03.jpg"
          class="d-block w-100"
          alt="cab03"
        />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
          src="../assets/img/cabecera04.jpg"
          class="d-block w-100"
          alt="cab04"
        />
        </mdb-carousel-item>
  </mdb-carousel>
    <h1 class="h1 text-center my-4 text-primary">Catálogo de libros</h1>
    <a href="CrearLibro"><button class="btn btn-primary">
      Crear Libro
    </button></a>
    <app-peticionget></app-peticionget> 
</div>