body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/202/670/493/books-fantasy-mistborn-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.espacio{
  width: 100%;
  min-height: calc(100vh - 50px - 100px);
}
